torch
torchvision
torchaudio

git+https://github.com/huggingface/transformers
accelerate
qwen-vl-utils
huggingface_hub
datasets
safetensors
sentencepiece
protobuf

numpy
pandas
pillow
opencv-python
pydicom
scikit-image
scikit-learn
tqdm
pyyaml
jsonlines
matplotlib
openpyxl
